/********************************************************
------------------------ Beluga -------------------------
Design: apopagasm
CSS: Exanurous
Version: 1.1;
Bug Reports: forums.php?action=viewthread&threadid=16899;
Style derived from Gazelle Postmod and BTN SMPTE

https://starblaster100.github.io/btn-future/btn-future.css

https://cdn.broadcasthe.net/styles/smpte/style.css
*********************************************************/

/*********
--------orig links--------------
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://cdn.jsdelivr.net/gh/3x4nur0u5/beluga@f6bd197/layout.css);
@import url(https://cdn.jsdelivr.net/gh/3x4nur0u5/beluga@f6bd197/permissions/original.css);

@import url(https://raw.githubusercontent.com/Willx636/css-btn/3fd4960550c6405d81f5ca69a14daaa7d584bfde/layout.css);
@import url(https://raw.githubusercontent.com/Willx636/css-btn/3fd4960550c6405d81f5ca69a14daaa7d584bfde/original.css);

-------
Preview: https://imgbox.com/iJzEp2J8
Stylesheet URL: https://cdn.jsdelivr.net/gh/3x4nur0u5/beluga@70f6a10/style.css
--------

*********************************/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://cdn.jsdelivr.net/gh/3x4nur0u5/beluga@f6bd197/layout.css);
@import url(https://cdn.jsdelivr.net/gh/3x4nur0u5/beluga@f6bd197/permissions/original.css);
